.git
.idea
.fleet
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/build
public/hot
public/storage
.env
.env.backup
.env.production
npm-debug.log
yarn-error.log

